%p
  = image_tag 'bigimage2.jpeg', alt: '', class: 'img-fluid'
.container.container-m
  .card-deck
    .card
      = image_tag 'home_image.jpg', alt: '', class: 'card-img-top'
      .card-body
        %h5.card-title Card title
        %p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        %p.card-text
          %small.text-muted Last updated 3 mins ago
    .card
      = image_tag '01_s.jpg', alt: '', class: 'card-img-top'
      .card-body
        %h5.card-title Card title
        %p.card-text This card has supporting text below as a natural lead-in to additional content.
        %p.card-text
          %small.text-muted Last updated 3 mins ago
    .card
      = image_tag 'test_image.jpg', alt: '', class: 'card-img-top'
      .card-body
        %h5.card-title Card title
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        %p.card-text
          %small.text-muted Last updated 3 mins ago

.container.container-m
  .row
    .col-md-6
      = image_tag 'test.jpg', alt: '', class: 'img-fluid'
    .col-md-6
      %h1 sampletext
      %p samplet extsampletextsam pletextsampletextsamplete xtsampl etextsa mpletextsampletexts amplet extsamp lete xtsam p letext sampl ete xtsamp letextsample text sam plet ext sa mp l etext sa mp let exts amplete xtsample textsa mplet extsam ple text

.container.container-m
  .row
    .col-md-4.img-box
      = image_tag 'colum1.jpg', alt: '', height: '300px', width: '100%', class: 'rounded'
      .card-img-overlay
        %h5.card-title-c
          Card title
        %p.card-text-c
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer
    .col-md-4.img-box
      = image_tag 'colum2.jpg', alt: '', height: '300px', width: '100%', class: 'rounded'
      .card-img-overlay
        %h5.card-title-c
          Card title
        %p.card-text-c
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer
    .col-md-4.img-box
      = image_tag 'colum3.jpg', alt: '', height: '300px', width: '100%', class: 'rounded'
      .card-img-overlay
        %h5.card-title-c
          Card title
        %p.card-text-c
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer

