.container.container-m
  %h2.text-center.m-5 Edit product
  = form_with model: @product, class: "SellMainForm", local: true do |f|
    .form-group.my-5
      = f.label :title
      = f.text_field :title, {placeholder: "30文字まで", class: "SellMainFormContainer__itemName__field form-control"}
      .help-title
      %small.form-text.text-muted 必ず入力してください
      %p#counter.text-right.font-weight-lighter.font-italic 0/30

    .form-group.my-5
      = f.label :text
      = f.text_area :text, {id: "input-text", class: "SellMainFormContainer__itemExplanation__field form-control", placeholder: "1000文字まで"}
      .help-text
        %small.form-text.text-muted 必ず入力してください
        %p#counter.text-right.font-weight-lighter.font-italic 0/1000

    .form-group.my-5
      = f.label :photo, class: "d-block"
      .help-text
        %small.form-text.text-muted 必ず1枚以上選んでください（最大5枚まで）
      .prev-content.card-columns.my-5
        - @product.photos.each do |image|
          .card
            = image_tag image.image_url.url, height: '', width: '100%', class: 'bd-placeholder-img card-img-top'
            .card-body.p-1.d-flex.justify-content-center
              .btn.btn-primary.btn-sm.mx-3
                編集
              .btn.btn-danger.btn-sm.mx-3
                削除
      .label-content
        %label{for: "product_photos_attributes_0_image_url", class: "label-box", id: "label-box--0"}
          %pre.label-box__text-visible.btn.btn-outline-success クリックしてファイルをアップロード

      .hidden-content.d-none
        = f.fields_for :photos do |i|
          = i.file_field :image_url, class: "hidden-field"
          = i.check_box :_destroy, class: "hidden-checkbox" 
        - @product.photos.length.upto(4) do |i|
          %input{class:"hidden-field", type: "file", name: "product[photos_attributes][#{i}][image_url]", id: "product_photos_attributes_#{i}_image_url"}

    = f.submit "編集する", class: "btn btn-primary w-50 mx-auto d-block"
    = link_to("もどる", root_path, {class: "btn btn-secondary mt-3 mx-auto d-block w-50"})

